In [ ]:
-- Example: Filter data for rides that originated in Manhattan
CREATE TABLE nyc_taxi_manhattan AS
SELECT *
FROM nyc_taxi
WHERE pickup_longitude BETWEEN -74.02 AND -73.92
AND pickup_latitude BETWEEN 40.70 AND 40.86;

In [ ]:
-- Example: Replace missing values in the 'tip_amount' column with 0
UPDATE nyc_taxi
SET tip_amount = 0
WHERE tip_amount IS NULL;

In [ ]:
-- Example: Calculate the duration of each trip in minutes
ALTER TABLE nyc_taxi ADD COLUMN trip_duration_minutes INT;
UPDATE nyc_taxi SET trip_duration_minutes = (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)) / 60;

In [ ]:
-- Example: Filter data for rides that originated in Manhattan
CREATE TABLE nyc_taxi_manhattan AS
SELECT *
FROM nyc_taxi
WHERE pickup_longitude BETWEEN -74.02 AND -73.92
AND pickup_latitude BETWEEN 40.70 AND 40.86;

In [ ]:
-- Example: Replace missing values in the 'tip_amount' column with 0
INSERT OVERWRITE TABLE nyc_taxi
SELECT 
    COALESCE(tip_amount, 0) AS tip_amount,
    *
FROM nyc_taxi;

In [ ]:
-- Example: Calculate the duration of each trip in minutes
ALTER TABLE nyc_taxi ADD COLUMNS (trip_duration_minutes INT);

UPDATE nyc_taxi 
SET trip_duration_minutes = (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)) / 60;

In [ ]:
-- Example: Create a query for top pickup locations
SELECT DISTINCT pickup_longitude, pickup_latitude
FROM nyc_taxi
LIMIT 1000;

In [ ]:
-- Example: Create a query for trip durations
SELECT trip_duration_minutes
FROM nyc_taxi;

In [ ]:
-- Example: Create a query for monthly ride counts
SELECT substring(pickup_datetime, 1, 7) as pickup_month, COUNT(*) AS ride_count
FROM nyc_taxi
GROUP BY substring(pickup_datetime, 1, 7);